# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd'

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# IDE/editor folders
.vscode/
.idea/

# Logs
*.log

# Flask specific
instance/
